/* You can add global styles to this file, and also import other style files */
$font-general: Arial, Helvetica, sans-serif;
$font-button-input: Cambria, Georgia;

h1 {
  color: #369;
  font-family: $font-general;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: $font-general;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[type="text"], button {
  color: #888;
  font-family: $font-button-input;
}

* {
  font-family: $font-general;
}
